.currentWeather {
  width: 470px;
  border-radius: 10px;
  height: 300px;
  margin: auto;
  background-image: url('../Assests/Headerbg.png');
  position: relative;
  background-size: 100% 110%;
}


.timeNcountry {
  text-align: center;
}

.top-leftside {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50px;
  top: 27px;
}

.cityName {
  padding: 5px;
  font-weight: 700;
  font-size: 25px;
  color: aliceblue;
}


.top-leftside,
.weather-maxmincel {
  display: inline-block;
}

.type,
.weather-icon {
  display: inline-block;
}


.weather-type {}

.weather-maxmincel {
  right: 100px;
  position: absolute;
  top: 20px;
  left: 267px;
}

.celcius {

  font-size: 50px;
  font-weight: 600;
  color: aliceblue;
}

.current-weather-footer {

  background-color: rgb(55, 59, 71);
  height: 120px;
  padding-bottom: 0%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 0;
  width: 470px;
}

.con1,
.con2,
.con3 {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 25px;
}

.con1 {

  text-align: left;
}

.con3 {}

.pressure,
.humidity,
.visibility,
.sunrise,
.sunset,
.degree,
.tempmin,
.tempmax {
  color: aliceblue;
  font-size: small;
  padding: 4px;
  font-weight: 500;
}

.timeNdate {
  color: aliceblue;
  font-size: smaller;
  font-weight: 300;
}

.smart-obj {
  padding-top: 10px;
}



.closeCard {
  top: 10px;
  right: 10px;
  position: absolute;
  height: 12px;
}