.viewcurrentWeather {
  width: 1000px;
  border-radius: 10px;
  background-color: rgb(31, 167, 167);
  height: auto;
  margin: auto;
  position: relative;
  top: 2px;
}

@media screen and (min-width: 768px) {
  .viewcurrentWeather {
    width: 500px;
    margin: auto;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  .viewcurrentWeather {
    width: 800px;
  }
}

.viewweather-description {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.viewweather-maxmincel,
.weather-type {
  display: inline;
}

.viewweather-maxmincel {
  float: right;
  padding-left: 300px;
}

.viewcurrent-weather-footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(55, 59, 71);
  height: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.viewcon1,
.viewcon2,
.viewcon3 {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.viewcon1 {
  padding-left: 100px;
  text-align: left;
}

.viewcon3 {
  padding-right: 100px;
}

p {
  padding: 0;
}

.viewarrow-button {
  position: absolute;
  top: 40px;
  left: 30px;
}